@use "sass:color";
@use "sass:list";
@use "sass:math";

$body-font-stack: "Lato", sans-serif;
$logo-font-stack: "Skranji", sans-serif;
$color-background: #161d21;
$color-foreground: #eceff1;
$color-accent: #7cb342;
$color-highlight: #8BC34A;
$transition-duration: 0.3s;
$entrance-duration: 0.8s;
$breakpoint-xl: 1499px;
$breakpoint-l: 1299px;
$breakpoint-m: 999px;
$breakpoint-s: 699px;

header {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: $color-background;
  color: $color-foreground;
  font-family: $body-font-stack;
  font-size: 1.1em;
}

::selection {
  background-color: $color-highlight;
  color: $color-background;
}

strong,
b {
  color: color.adjust($color-accent, $lightness: 10%);
}

a {
  color: $color-accent;
}

.transition-fade {
  opacity: 1;
  transition: opacity $entrance-duration ease-in-out;

  html.is-animating &,
  html.is-leaving & {
    opacity: 0;
    transition-duration: 0.1s;
  }
}

@keyframes bounceEntrance {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  40% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  
  60% {
    opacity: 1;
    transform: scale3d(0.95, 0.95, 0.95);
  }

  100% {
    transform: none;
  }
}

h1 {
  box-sizing: border-box;
  margin: 1em 0 0.2em;
  animation: bounceEntrance $entrance-duration ease;
  color: $color-accent;
  font-family: $logo-font-stack;
  font-size: 4em;
  text-align: center;
}

h2 {
  margin: 0.2em 0;
  font-size: 2.5em;
}

@media screen and (max-width: $breakpoint-s) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

h3 {
  margin-top: 2em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $logo-font-stack;
  font-weight: normal;
}

hr {
  border-color: color.adjust($color-accent, $saturation: 40%, $lightness: 40%);
  margin: 2em 0 3em;
  opacity: 0.5;
}

iframe {
  margin: 1em 0;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  perspective: 20px;
  perspective-origin: 0;
}

#background {
  position: absolute;
  z-index: -1;
  top: 30%;
  right: -140%;
  pointer-events: none;
  transform: translateZ(-50px) scale(2.5);
  transform-origin: center;
}

main {
  max-width: 42em;
  padding: 1em 4em;
  margin: 0.5em auto 0 auto;
  margin-bottom: 50px;
  font-size: 1.2em;

  p {
    margin: 1em 0;
    line-height: 1.4;
    text-align: justify;

    &.center {
      text-align: center;
    }
  }

  @media screen and (max-width: $breakpoint-m) {
    p {
      font-size: 0.9em;
    }
  }

  a {
    background:
    linear-gradient(to right, $color-accent, $color-accent),
    linear-gradient(to right, color.adjust($color-accent, $saturation: 40%), color.adjust($color-accent, $red: 80));
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.1em, 0 0.1em;
    color: $color-accent;
    text-decoration: none;
    transition: all $transition-duration ease-in-out;

    &:hover,
    &:focus {
      background-size: 0 0.1em, 100% 0.1em;
      color: color.adjust($color-accent, $saturation: 30%);
    }
  }

  img, svg {
    &.inline-img {
      display: inline-block;
      max-height: 2em;
      margin: 0 0.5em;
      pointer-events: none;
      vertical-align: middle;
    }

    &.wide-img {
      position: relative;
      left: -20%;
      width: 140%;
    }
  }
}

@media screen and (max-width: $breakpoint-m) {
  main {
    padding: 1em 2em;
  }
}

@media screen and (max-width: $breakpoint-s) {
  main {
    padding: 1em;
  }
}

.main-nav {
  margin: 0 1em 2em;
  text-align: center;

  .nav-link {
    display: inline-block;
    padding: 0.2em;
    margin: 0 1em;
    animation: bounceEntrance $entrance-duration ease-in-out;
    box-shadow: inset 0 0 0 0 $color-accent;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    transition: all $transition-duration ease-in-out;

    &:hover {
      box-shadow: inset 10em 0 0 0 $color-accent;
      color: $color-background;
    }
  }

  @media screen and (max-width: $breakpoint-s) {
    .nav-link {
      margin: 0 0.4em 0.4em;
      font-size: 1.2em;
    }
  }
}

#social {
  text-align: center;
  user-select: none;

  > a {
    position: relative;
    display: inline-block;
    overflow: visible;
    width: 2em;
    padding: 0.5em;
    margin: 0 1em;
    animation: bounceEntrance $entrance-duration ease-in-out;
    color: $color-foreground;
    text-decoration: none;
    transition: all $transition-duration ease-in-out;

    &::before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: $color-accent;
      border-radius: 50%;
      content: '';
      transform: translate(-50%, -50%);
      transition: all $transition-duration ease-in-out;
    }

    &:hover,
    &:focus {
      color: $color-background;
    }

    &:hover::before,
    &:focus::before {
      width: 100%;
      height: 100%;
    }

    svg {
      vertical-align: middle;
    }
  }
}

a.link-btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid $color-accent;
  margin: 1.2em 0;
  background: none;
  border-radius: 0.2em;
  color: $color-accent;
  text-align: center;
  text-decoration: none;
  transition: all $transition-duration ease-in-out;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-background;
  }
}

.archive {
  width: 100%;
  text-align: center;
}

.archive-entry {
  width: 60%;
  box-sizing: border-box;

  .archive-title {
    margin: 1em 0 0.4em;
  }

  p {
    text-align: center;
  }

  .archive-subtitle {
    margin: 0;
  }

  .archive-year {
    font-family: $logo-font-stack;
  }
}

@media screen and (max-width: $breakpoint-l) {
  .archive-entry {
    width: 80%;
  }
}

@media screen and (max-width: $breakpoint-s) {
  .archive-entry {
    width: 100%;
  }
}

.youtube-embed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 3em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

$timetable-columns: 6;
$timetable-rows: 3;
$timetable-children: (1 + $timetable-rows) * $timetable-columns;

.timetable {
  position: relative;
  left: -20%;
  display: grid;
  width: 140%;
  margin: 5em 0 2em;
  column-gap: 0.4em;
  grid-auto-flow: column;
  grid-template-columns: repeat($timetable-columns, 1fr);
  grid-template-rows: 2em repeat($timetable-rows, 10em);
  row-gap: 0.5em;

  .timetable-header {
    font-family: $logo-font-stack;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  @for $i from 1 through $timetable-columns {
    .timetable-header:nth-child(#{$i + ($i - 1) * $timetable-rows}) {
      background: linear-gradient(to right,
        color.mix(
          color.adjust($color-accent, $saturation: 40%),
          color.adjust($color-accent, $red: 120),
          (1 - math.div($i - 1, $timetable-columns)) * 100%
        ),
        color.mix(
          color.adjust($color-accent, $saturation: 40%),
          color.adjust($color-accent, $red: 120),
          (1 - math.div($i, $timetable-columns)) * 100%
        )
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .timetable-slot {
    display: flex;
    overflow: hidden;
    min-width: 8.5em;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    padding-bottom: 1em;
    border: 0.2em solid transparent;
    transition: border-radius 0.5s ease-out;

    &:hover,
    &:focus {
      transition-duration: 1s;
    }
  }

  $first-radius-offset: 30;
  $first-radius-limit: 30;
  $second-radius-offset: 30;
  $second-radius-limit: 20;
  @for $i from 1 through $timetable-children {
    $radii-1st: math.random($first-radius-limit) + $first-radius-offset * 1%
                math.random($first-radius-limit) + $first-radius-offset * 1%
                math.random($first-radius-limit) + $first-radius-offset * 1%
                math.random($first-radius-limit) + $first-radius-offset * 1%;
    $radii-2nd: math.random($second-radius-limit) + $second-radius-offset * 1%
                math.random($second-radius-limit) + $second-radius-offset * 1%
                math.random($second-radius-limit) + $second-radius-offset * 1%
                math.random($second-radius-limit) + $second-radius-offset * 1%;
    $radii-1st-wobbly: $radii-1st;
    $radii-2nd-wobbly: $radii-1st;
    @for $j from 1 through 4 {
      $radii-1st-wobbly: list.set-nth($radii-1st-wobbly, $j, list.nth($radii-1st-wobbly, $j) * (1.2 - 0.5 * math.random()));
      $radii-2nd-wobbly: list.set-nth($radii-2nd-wobbly, $j, list.nth($radii-2nd-wobbly, $j) * (1.2 - 0.5 * math.random()));
    }

    .timetable-slot:nth-child(#{$i}) {
      background:
      linear-gradient($color-background, $color-background) padding-box,
      linear-gradient(to bottom right,
          color.mix(
            color.adjust($color-accent, $alpha: -0.5, $saturation: 40%),
            color.adjust($color-accent, $alpha: -0.5, $red: 150),
            (1 - math.div($i - 1, $timetable-children)) * 100%
          ),
          color.mix(
            color.adjust($color-accent, $alpha: -0.5, $saturation: 40%),
            color.adjust($color-accent, $alpha: -0.5, $red: 150),
            (1 - math.div($i, $timetable-children)) * 100%
          )
        ) border-box;
      border-radius: list.slash($radii-1st, $radii-2nd);

      &:hover,
      &:focus {
        border-radius: list.slash($radii-1st-wobbly, $radii-2nd);
      }
    }
  }

  .timetable-entry {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0.1em 0.5em;
  }

  .timetable-time {
    display: inline-block;
    width: 100%;
    margin-top: 0.5em;
    color: $color-accent;
    font-family: $logo-font-stack;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
  }

  .timetable-content {
    display: inline-block;
    margin: 0 0.5em;
    line-height: 1em;
    text-align: center;
    word-wrap: break-word;
  }
}

@media screen and (max-width: $breakpoint-xl) {
  .timetable {
    font-size: 0.9em;
  }
}

@media screen and (max-width: $breakpoint-l) {
  .timetable {
    left: -5%;
    width: 110%;
    font-size: 0.8em;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .timetable {
    position: static;
    width: 100%;
    padding-bottom: 1em;
    overflow-x: scroll;

    .timetable-time {
      font-size: 1.1em;
    }
  }
}

.tutors {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  row-gap: 3em;
}

.tutor {
  figure {
    width: 10em;

    img {
      width: 100%;
      border-radius: 50%;
    }

    figcaption {
      h3 {
        margin-top: 1em;
        white-space: nowrap;
      }

      p {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-s) {
  .tutors {
    row-gap: 2em;
  }
}

h2#tutorinnen {
  margin-bottom: 1em;
}
