$body-font-stack: "Lato", sans-serif;
$logo-font-stack: "Skranji", sans-serif;
$color-background: #161d21;
$color-foreground: #eceff1;
$color-accent: #7cb342;
$color-highlight: #8BC34A;
$transition-duration: 0.3s;
$entrance-duration: 0.8s;
$breakpoint-xl: 1499px;
$breakpoint-l: 1299px;
$breakpoint-m: 999px;
$breakpoint-s: 699px;
