<head lang="de">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Page.Title }} &mdash; {{ .Site.Title }}</title>

    <base href="{{ .Site.BaseURL }}">
    <link href="{{ .Permalink }}" rel="canonical">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Skranji:wght@400;700&display=swap"
    rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#88a900">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ .Page.Title }} &mdash; {{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ .Site.BaseURL }}img/team_gecko_og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="Team Gecko Logo">
    <meta property="og:url" content="{{ .Permalink }}">

    {{ $css_options := (dict "transpiler" "dartsass" "targetPath" "css/style.css" "outputStyle" "compressed") -}}
    {{ $postcss_options := (dict "noMap" true) -}}

    {{ $scssstyles := slice "style" }}
    {{ if isset .Page.Params "extrascss" }}
    {{ range .Page.Params.extrascss }}
    {{ $scssstyles = $scssstyles | append . }}
    {{ end }}
    {{ end }}

    {{ range $scssstyles }}
    {{ $scsspath := . | printf "scss/%s.scss" }}
    {{ $style := resources.Get $scsspath | css.Sass $css_options | css.PostCSS $postcss_options | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
    {{ end }}

    {{ $jsfiles := slice "konami" }}
    {{ if isset .Page.Params "extrajs" }}
    {{ range .Page.Params.extrajs }}
    {{ $jsfiles = $jsfiles | append . }}
    {{ end }}
    {{ end }}

    {{ range $jsfiles }}
    {{ $jspath := . | printf "js/%s.js" }}
    {{ $js := resources.Get $jspath | js.Build (dict "minify" true) }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" async defer data-swup-reload-script></script>
    {{ end }}

    {{ if isset .Page.Params "customhead" }}
    {{ .Page.Params.customhead | safeHTML }}
    {{ end }}

    <script src="https://unpkg.com/swup@4.4.0" integrity="sha512-ZjJWzMLEAGVbsTDMJ9AYEBXzQkPQyfz93/ZEhRFaVdE/ryTPiY3BTVyMNY+dI2xh50sUCcijqUFjlz8GyT+OnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@swup/head-plugin@2.1.1" integrity="sha512-WpzmsPfbvM5hEu+vrNzFACO6zH+2PppKDaLj1M1G+jOofdPVnsVNpkhtZL/KCiSVGxqeoYfXuXzt+Y3VY0SLeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@swup/scripts-plugin@2.0.0" integrity="sha512-0RFNxmuhKPU1/26iJrhROqRu0g8cjFIxMr19hTUiTj3KrMp5sidY8wb/V4TYIDHGavyBPb1BnFgs5hx6rLTDKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.documentElement.classList.add('is-animating');
    </script>
</head>
